* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;                
  display: flex;
  justify-content: center;          
  align-items: center;                
  background-color: rgb(255, 220, 152);
  font-family: Arial, sans-serif;
}

.main-container {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

.top-box {
  width: 100%;
  background: rgb(255, 156, 1);
  color: #fff;
  text-align: center;
  padding: 10px;
}

.top-box .img-and-name {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 20px;
}

.top-box img {
  height: 100px;
  border-radius: 50%;
  border: 5px solid;
  display: none;
}

.top-box .image-btn {
  padding: 10px;
  background: #fff;
  color: rgb(255, 156, 1);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.bottom-box {
  display: flex;
  width: 100%;
}

.bottom-box .information-btn {
  padding: 10px;
  color: #fff;
  background-color: rgb(255, 156, 1);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.left-box {
  width: 65%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.left-box .inform-div{
  display: none;
}

.left-box h2 {
  margin-bottom: 15px;
  color: #222;
}

.left-box p {
  margin-bottom: 10px;
  line-height: 1.3;
}

.right-box {
  width: 35%;
  background-color: rgb(41, 41, 43);
  color: #fff;
  padding: 20px;
}

.right-box form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.button {
  padding: 10px;
  background: rgb(255, 156, 1);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background: rgb(204, 125, 1);
}

